# Python virtual environment
venv/

# __pycache__ folders
__pycache__/
*.pyc

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# Streamlit temporary files
.streamlit/config.toml
